@import "tailwindcss";
@import "@fontsource/press-start-2p";
@plugin "daisyui";

@theme {
  --font-pixel: "Press Start 2P", monospace;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}